body {
  background-color: beige;
}

@font-face {
  font-family: "Outfit-Bold";
  src: url("assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit-Regular";
  src: url("assets/fonts/outfit/static/Outfit-Regular.ttf");
}

@font-face {
  font-family: "YoungSerif";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

.outfit-bold {
  font-family: "Outfit-Bold";
}

.outfit-regular {
  font-family: "Outfit-Regular";
}

.youngserif {
  font-family: "YoungSerif";
}

.nutrition h1 {
  color: red;
}

li {
  margin-left: 0;
}

ul,
ol {
  padding-left: 15px;
  margin-left: 0;
}

td {
  padding: 15px;
  border-bottom: 1px solid rgb(208, 205, 205);
}

.container {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.ings h1 {
  color: red;
}

.ings li {
  margin-bottom: 10px;
}

.ings {
  border-bottom: 0.1mm solid rgb(208, 205, 205);
  margin-bottom: 30px;
}

.prep li {
  margin-bottom: 10px;
}

.prep {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(221, 248, 248);
  padding: 30px;
  border-radius: 20px;
}

.prep h1 {
  font-size: 20px;
}

@media (min-width: 1024px) {
  .container {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
    width: 50%;
    background-color: white;
  }

  .card p {
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
    background-color: white;
    width: 100%;
    height: 100%;
  }
  .card h1 {
    font-size: 20px;
  }
  .card p {
    font-size: 15px;
  }

  .card li {
    font-size: 15px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card img {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 20px;
}

table {
  width: 100%;
}

.card h1 {
  text-align: left;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
